@using FeatureFlag.Web.FeatureFlags
@{
    ViewData["Title"] = "Home Page";
}

@if (FeatureFlagWrapper.HelloWorldFeature.FeatureEnabled)
{
    <h3>Hello World!</h3>
}

@if (FeatureFlagWrapper.CalendarFeature.FeatureEnabled)
{
    var today = $"{DateTime.Now.Year:0000}-{DateTime.Now.Month:00}-{DateTime.Now.Day:00}";
    <h3>@today</h3>
}

@if (FeatureFlagWrapper.ExpirationFeatureFlag.FeatureEnabled)
{
    <h3>Expiration Hello World!</h3>
}